<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Robot Controls</title>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="A controller for a Python-based Raspberry Pi robot."
    />
    <meta name="author" content="Evan Simkowitz" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/nipplejs/0.10.1/nipplejs.min.js"
      integrity="sha512-W4CkjPhX6OvKBJRlsarTIFabgLCscDLSot932mJEUKmYK8NRVFOs4ozOByjBdGr2lSO6gcSrSM1p+QpAI1IVjA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"
      integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/joystick.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script type="text/javascript" charset="utf-8"></script>
  </head>

  <body>
    <h1>Robot Controls</h1>
    <div id="control_area">
      <div>Heading: <span id="heading"></span></div>
      <div>Speed: <span id="speed"></span></div>
      <div class="zone joystick active" id="joystick"></div>
    </div>
  </body>
  <script type="text/javascript" charset="utf-8">
    var namespace = "/robot_control";
    var socket = io(namespace);

    var heading = 0.0;
    var speed = 0.0;

    function sendDataOnSocket(data) {
      socket.emit("control_event", data);
    }

    var nextControlSend = Date.now();
    var controlSendIntervalMs = 50;
    function sendControl() {

      // Slow down sending controls to the robot so we don't overwhelm it
      curTime = Date.now()
      if (curTime < nextControlSend) {
        return;
      }
      nextControlSend = curTime + controlSendIntervalMs;
      document.getElementById("heading").innerHTML = heading;
      document.getElementById("speed").innerHTML = speed;

      var message = speed + "," + heading;

      sendDataOnSocket({
        control: message,
      });
      console.log("Control '" + message + "' sent to robot");
    }

    function incrementHeading(increment) {
      var new_heading = (heading + increment) % 360;

      while (new_heading < 0) {
        new_heading += 360;
      }

      heading = new_heading;
    }

    function forward() {
      speed = 30.0;
      sendControl();
    }

    function right() {
      incrementHeading(10);
      sendControl();
    }

    function left() {
      incrementHeading(-10);
      sendControl();
    }

    function backward() {
      speed = -30.0;
      sendControl();
    }

    function stop() {
      speed = 0.0;
      sendControl();
    }

    document.addEventListener("keydown", function (event) {
      switch (event.which) {
        case 87:
        case 38:
          forward();
          break;
        case 68:
        case 39:
          right();
          break;
        case 83:
        case 40:
          backward();
          break;
        case 65:
        case 37:
          left();
          break;
        default:
          break;
      }
    });

    document.addEventListener("keyup", function (event) {
      switch (event.which) {
        case 87:
        case 38:
        case 83:
        case 40:
          stop();
          break;
        default:
          break;
      }
    });

    var manager = nipplejs.create({
      zone: document.getElementById("joystick"),
      mode: "static",
      color: "blue",
      position: { left: "50%", top: "50%" },
    });

    manager.on("move", function (event, data) {
      // Correct the heading. Nipple.js outputs the angle like this:
      //      270
      //  0       180
      //      90
      // But we want it like this to send to the robot:
      //      0
      //  270     90
      //      180
      heading = Math.abs(450 - data.angle.degree) % 360;
      speed = data.distance;
      sendControl();
    });

    manager.on("end", function (event) {
      stop();
    });
  </script>
</html>
